*{
    margin: 0;
    padding: 0;
}
h1{
    font-size: 3vw;
    margin-top: 3vw;
}
body{
    background-color: aquamarine;
}
.container{
    margin-top: 15vw;
    text-align: center;
    margin-left: 35vw;
    width: 30vw;
    height: 30vw;
    background-color: beige;
    border: 1px solid grey;
    border-radius: 1rem;
    
}
#error{
    color: red;
}
#feet{
    width: 15vw;
    height: 3vw;
    outline: none;
    margin-top: 5vw;
    font-size: 1vw;
    font-weight: 500;
    padding-left: 2vw;
}